@media screen and (max-width:1299px) {


      
     .wrapper1{
        background-color:#131313; 
        height:57px;
      }
      
      
      .logo{
          padding-left:18px;    
      }
      
      
      nav{
        display:none;
      }
      

      .phone-link__number{
        color: white;
        padding-right: 18px;
      }
      

      .nav-button{
        display:none;
    
      }
      
      
      
      /* section hero */
      
      .hero{
        height:476px;
      }

      .hero-info{
        padding-top: 85px;
        padding-left: 5%;
        padding-right: 5%;

      }
      
      .hero-info__title{
        font-size: 23px;
        line-height: 31px;
    
      }
      
      .hero-info__text{
        font-size: 14px;
        line-height: 19px;
        margin-bottom:32px;
      
      }
      
      .fill{
        width:339px;
        margin-bottom: 26px;
      }

      .transparent{
        width:339px;
        margin-left: 0px;;
      }
      
      /* section project */
      
      .project{
        height:900px;  
      }
      
      .project-wrapper{ 
        width:375px;
       display:grid;
       grid-template-rows: auto;
       margin: 0 auto;
       align-content: center;

      }
      
    .project-info__intro{
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .project-picture{
        grid-column: 1/3;
        grid-row: 2/3;
        padding-left: 20px;

    }

    .project-info_details-grid{
        width:340px;
        grid-column: 1/3;
        grid-row: 3/4;
        padding-top:37px;
        padding-left: 20px;

       
      }
    
      .project-info__title{
        font-size: 22px;
        line-height: 30px;
        padding-top:36px;
        text-align:center;

      
      }
      
      .project-info__text{
        font-size: 11px;
        line-height: 17px;
        text-align:center;
        padding-left: 32px;
        padding-right: 32px;
        margin-bottom: 43px;

        
      }
      
      
      .detail-description{
        font-size: 11px;
        line-height: 18px;
      
      }
      
      .mobile-image{
        display:block;
          
       }
      

       .mobile-image_buttons{
        display: block;
       }    
      

      .subtitle{
        font-size: 14px;
        line-height: 19px;
      }
      

      .city-list{
        display:none;
       
      }
      
   
      .line{
      display:none;
      
      }
      
      .project-image{
       display:none;
      }
      

      .types-wrapper{
        background: #E5E5E5;
        height:1466px;
      }
      
      .slider{
        display:none;
      
      }
      
      
      /* section video */
      
      
      .video-wrapper{
        background-color: #131313;
        height: 830px;
        margin: 0 auto; 
        margin-top: -200px;
        padding: 0px;
      
      }
      
      .video-title{
        margin-bottom:31px;
      }


      .video-button{
        width: 80px;
        height:80px;
        position:absolute;
        top:70px;
        left:140px;
        z-index: 2;
      
      }
      
      .video-text{
        padding-left:18px;
        padding-right: 17px;
        font-size: 11px;
        line-height: 19px;
        color:white;
        margin-top: 22px;

      
      }

      .video-video{
        width:340px;
        height: 207px;
        margin: 0 auto;
        position:relative;
        z-index: 1;
      }

      .video-video_picture{
        width:340px;
        height: 207px;
       
      }
      
      .video-overlay{
        background: rgba(0, 0, 0, 0.8);
        position:absolute;
        top:0px;
        left:0px;
        right:0px;
        bottom:0px;
      }
      

      .video-line{
        margin-top: 28px;
      }


      .data{
        width:340px;
        flex-direction: column;
        flex-wrap: nowrap;
        color: rgba(54, 54, 54, 0.5);
        font-size: 13px;
        line-height: 21px;
        padding: 0px;
        margin: 61px 17px 62px;
      
      }
  
      .button-submit{
        width:340px;
        order: 8;
    
      }
      .name,.phone{
        color: rgba(255, 255, 255, 0.5);
        width:340px;
        height: 45px;
        border-bottom: 1px solid white;
      }
      
      .name{
        margin-bottom: 63px;
      }
    

      .first-checkbox{
        padding:0px;
        margin-top: 37px;
        margin-bottom: 62px;
        
       }

      
      .checkbox{
        display: none;
      }
      
      .text{

        color: #FFFFFF;
      }
   
      
       /* section repair */

      .repair-wrapper{
   
        height: 1860px;
        width:375px;
       
      }
      
      .repair-wrapper_title{
        font-family: 'Yeseva One';
        padding-top: 83px;
        font-size: 22px;
        line-height:30px;
        margin-bottom: 17px;;

      }

      .repair-title{
        font-size: 22px;
        line-height:30px;
        margin-bottom: 17px;;
      }

      .room-wrapper{
        width:375px;
        flex-direction: column;
        gap:59px;
     
      }
      

      .room1 img,.room2 img,.room3 img{
        width:340px;
      }
      .room-list__container{
           
        width:270px;
        height:241px;
        position: relative;
        margin-top: -150px;
        margin-left: 30px;
        
      }
        .room-list__title{
   
        font-size: 15px;
        line-height: 21px;   
        
            
      }
    
      
      .room-list__items{
        font-size: 13px;
        line-height: 22px;
      }


      .price{
        width: 190px;
        height: 40px;
        margin-top: -15px;
        padding: 0;
      }
      

     

      p.price-data{
        padding:11px 19px;
        font-size: 15px;
     
      }
      

      p.expensive{
        padding:11px 12px;
      }
      
      
      /* Section service */
      
      
      .service{
        display:none;
      
      }
      
      
      
      /* section demo */
      .demo{
        display:none;
      }
      
      .fantasies-mobile{
        width: 375px;
        display:block;
        position:relative;
        text-align: center;
        z-index: 50;
       
    
      }
      .fantasies-title{
        margin-bottom: 24px;
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        text-align: center;

      }

     .fantasies-image_buttons{
        position:relative;
        width: 340px;
        bottom:140px;
        z-index: 60;

     }
        /* Section clients */

    .clients{
      display:none;
    }
      /* 
      Section overheader */
      
      .overheader-wrapper{
        height:1200px;
        background:#131313;
        position: relative;
     
      
      
      }
      .overheader-overlay{
        display:none;
      }
      
      .overheader-questions{
        height: 600px;
        background-color: #131313;
        position:relative;
        padding-top:170px;
        margin-top: -120px;
        margin-left: 0;
     
      }
      
      .overheader-questions__title{
        margin-bottom: 52px;
        padding: 0px;
        margin-top: 0px;

      
      }
      
      .request-form2{
        padding-left:15px;
    
       
      }
      .request-form_block{
   
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0px;
      }
      
      .question1, .question2{
        margin-bottom: 63px;
  
      }
      
      
      .line4, .line5, .line6{
        width: 340px;
    
      }
      
 
      .checkbox-bottom{
        margin-top: 23px;
        width:290px;
  
      
      }
      
      .button-submit3{
        width: 340px;
        margin-top: 67px;

 
      
      }
      
      .contact{
        display:flex;
        flex-direction: column;
        font-size: 18px;
        line-height: 25px;
        padding-left:17px;
        padding-top: 0;
        
      }
      

      .contact-info{
        padding-left: 18px;
        padding-right: 18px;
  
      }
      .contact-link{
        margin-bottom:49px;
      }
      
      .contact-link__mail{
        margin-right:21px;
     
      }

      .contact-link img{
        width:39px;
        height: 39px;
      }

      .contact-info__map{
        width:340px;
        order:-1;
        margin-bottom: 49px;
      
      }



      footer{
        display:none;
      }
    }